.noread{
    background-color: #ECEFF1;
    padding: 10px;
}
.read{
    padding: 10px;
}

.my-custom-control{
    margin-left: 0 !important;
    min-width: 45px !important;
    min-height: 35px !important;
}

/*.navbar-default {*/
    /*background-color: rgb(2, 209, 197) !important;*/
    /*border-color: rgb(2, 209, 197) !important;;*/
/*}*/

/*.navbar-default .navbar-search-collapsed {*/
    /*background-color: rgb(2, 209, 197) !important;*/
    /*color: #fff;*/
/*}*/

/*.navbar-default .navbar-nav>li {*/
    /*border-left: rgb(2, 209, 197) !important;*/
/*}*/

/** style for upload avarta
 */
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.form-control.select3-hidden-accessible {
    position: absolute!important;
    width: 1px!important;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.icon-answer{
    position: absolute;right: 5px;bottom: 5px;
}
.icon-custom{
    color: #fff;
    padding: 5px;
    cursor: pointer;
    margin-left: 3.5px;
}
.icon-plus{
    background-color: #B9CE64;
}
.icon-close{
    background-color: #D9534A;
}

.search-block{
    margin-bottom: 10px;
}

/** style dashboard
 */
@media (max-width: 767px) {
    .title-bar-actions{
        float: none !important;
    }
    #d_mb{
        display: block !important;
    }
    #d_dk{
        display: none !important;
    }
}