/*
 * ============== Default
 */
@font-face {
	font-family: 'UTM Aptima';
	src: url('../fonts/UTMAPTIMAREGULAR.eot') format('embedded-opentype'),
	url('../fonts/UTMAPTIMAREGULAR.woff2') format('woff2'),
	url('../fonts/UTMAPTIMAREGULAR.woff') format('woff'),
	url('../fonts/UTMAPTIMAREGULAR.ttf') format('truetype');
}

@font-face {
	font-family: 'UTM Bebas';
	src: url('../fonts/UTMBEBASREGULAR.eot') format('embedded-opentype'),
	url('../fonts/UTMBEBASREGULAR.woff2') format('woff2'),
	url('../fonts/UTMBEBASREGULAR.woff') format('woff'),
	url('../fonts/UTMBEBASREGULAR.ttf') format('truetype');
}

@font-face {
	font-family: 'UTM Centur';
	src: url('../fonts/UTMCENTURREGULAR.eot') format('embedded-opentype'),
	url('../fonts/UTMCENTURREGULAR.woff2') format('woff2'),
	url('../fonts/UTMCENTURREGULAR.woff') format('woff'),
	url('../fonts/UTMCENTURREGULAR.ttf') format('truetype');
}

body{
	font-family: 'UTM Bebas';
}


.leff{
	float: left;
}

.right{
	float: right;
}

.clearfix{
	clear: both;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #000;
}
.navbar-default .navbar-toggle {
	border-color: #000;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:visited {
	background: none !important;
}

.btn, .modal-content{
	border-radius: 0px;
}

#main{
	width: 100%;
}
.has-error{
	color: #00a000;
}
.center{
	text-align: center !important;
}
a:hover{
	text-decoration: none;
}
/*
 * =============== header
 */
.header{
	width: 100%;
	float: right;
	height: 50px;
	background: #fef9eb;
	opacity: 0.9;
	z-index: 99;
}
.header .logo img{
	padding-top: 10px;
	padding-bottom: 10px;
}
.header .menu-top ul li{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: auto;
	padding-right: 20px;
	list-style: none;
}
.header .menu-top ul li a{
	text-decoration: none;
	font-family: "UTM Bebas", sans-serif;
	color: #000;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
}
.header .menu-top ul li a:hover, .header .menu-top ul li a:active, .header .menu-top ul li a:visited, .header .menu-top ul li a:focus{
	background: none !important;
}
.header .menu-top ul li a.alink:hover{
	border-bottom: 5px solid #000;
	background: none !important;
}
.box-search{
	position: relative;
	padding-top: 5px;
}
.box-search input:focus{
	outline: none;
}
.box-search .txt-search{
	width: 135px;
	border-radius: 15px;
	border: none;
	padding-left: 28px;
	box-shadow: 2px 2px 2px 2px #ccc;
}
.box-search .btn-search{
	background: url('../images/icon-search.png') 90% center no-repeat;
	border: none;
	position: absolute;
    width: 30px;
    margin-left: 5px;
}

/*
 * ================== slider
 */
.slider{
	width: 100%;
	position: relative;
	box-shadow: 0 10px 10px -10px #333;
}
.slider .btn-post{
	position: absolute;
	background: url('../images/btn-slider.jpg') no-repeat;
}
.slider .btn-post a{
	text-transform: uppercase;
	color: #FEBF0E;
}
.slider .item img{
	max-width: 100%;
}

/*
 * ================= footer
 */
#footer{
	width: 100%;
	height: 180px;
	position: relative;
	box-shadow: 0 -5px 5px -5px #333;
}
#footer .logo-footer-left{
	padding-bottom: 37px;
	padding-top: 35px;
}
#footer .logo-footer-right {
    padding-bottom: 37px;
    padding-top: 35px;
}
#footer .menu-footer ul li{
	list-style: none;
	display: inline-block;
	padding-left: 8%;
}
#footer .menu-footer ul li a{
	text-decoration: none;
	color: #333;
	height: 180px;
	line-height: 180px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 22px;
}

/**
 * ===================== video
 */
.video-content{
	margin-top: 50px;
	margin-bottom: 130px;
}
.video-txt{
	margin-top: 15px;
	font-size: 35px;
}

/**
 * ===================== button register
 */
.btn-register{
	position: relative;
	bottom: 100px;
}
.btn-register span{
	color: #FEC00F;
	background-color: #231F20;
	padding: 10px 25px;
	font-size: 30px;
}

.btn-register:hover > span{
	color: #FFFFFF;
}

#scroll_to_top{
	position: fixed;
	right: 10px;
	bottom: 205px;
}

/**
 * ===================== thể lệ
 */
.the-le-content{
	margin-top: 90px;
	margin-bottom: 90px;
}

.the-le-content .menu-left ul li{
	list-style: none;
	display: block;
	height: 50px;
	width: 100%;
}
.the-le-content .menu-left ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 50px;
	color: #323132;
}
.the-le-content .menu-left ul li a.active{
	background: #FFCE00;
	padding-left: 5px;
	padding-right: 5px;
}
.the-le-content .menu-left ul li a:hover{
	background: #FFCE00;
	padding-left: 5px;
	padding-right: 5px;
}
.the-le-content .content-right{
	font-family: 'UTM Bebas';
	font-size: 20px;
	text-align: justify;
}
span{
	background: #FFCE00;
	padding-left: 5px;
	padding-right: 5px;
}
.avatar-wrapper span, .avatar-wrapper2 span, .avatar-wrapper3 span{
	background: none !important;
}
a#btn_upload_img3, a#btn_upload_video{
	font-size: 50px;
	color: #000;

  }
.the-le-content .content-right #noi-dung-cuoc-thi{
	margin-top: 60px;
}
.the-le-content .content-right  span1.title{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'UTM Bebas';
	font-size: 30px;
	padding-top: 10px;
	background: url('../images/bg-text.jpg') center repeat;
	padding-left: 15px;
	padding-right: 15px;
	color: #323132;
}
label{
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'UTM Bebas';
}
.the-le-content .content-right .content-detail{
	padding-top: 30px;
	padding-bottom: 60px;
}
ul{
	padding-left: 15px !important;
}
.the-le-content-mobile{
	display: none;
}

/**
 * ==================== Đăng ký
 */
#form-sign{
	clear: both;
	margin-top: 90px;
	margin-bottom: 90px;
}
#form-sign .title{
	text-align: center;
}
#form-sign span{
	background: #FFD600;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 36px;
	padding-bottom: 10px;
}
#form-sign .list-input{
	padding-top: 60px;
	width: 85%;
	margin: 0 auto;
	text-align: center;
}
#form-sign .list-input .txt-input{
	width: 100%;
	padding-left: 30px;
	height: 70px;
	background: #F1F1F2;
	border: 2px solid #FFD600;
	font-size: 36px;
	color: #CED4D8;
	margin-bottom: 20px;
}
#form-sign .list-input .select-infor{
	width: 33.1%;
	margin-bottom: 20px;
	height: 70px;
	background: #F1F1F2;
	font-size: 36px;
	padding-left: 30px;
	color: #B9BBBD;
	border: 2px solid #FFD600;
}
#form-sign .list-input .btn-form{
	color: #fff;
	background: #231F20;
	padding: 5px 18px 8px 18px;
	text-transform: uppercase;
	font-size: 31px;
	border: 2px solid #FFD600;
	border-radius: 15px;
	margin-top: 45px;
}

/*===================Khung ảnh======================*/
#video-cam-nhan .khung-video{
    margin: 0 auto;
    text-align: center;
}
#video-cam-nhan .khung-video img{
    max-width: 100%;
}
._input_post{
	padding: 0px 10px;
	text-align: justify;
	font-size: 18px;
}
.input-content:hover, ._feelShort:hover, .setTitle:hover, #video-cam-nhan:hover, .img:hover{
	cursor: pointer;
}
/*===================================================*/

/*==================Bài dự thi======================*/

#bai-du-thi {
	margin: 0 auto;
	margin-bottom: 90px;
}
#bai-du-thi .title-exam{
	text-align: center;
}
#bai-du-thi .title-exam label{
	font-size: 80px;
	text-transform: uppercase;
	text-align: center;
	font-family: "UTM Bebas";
	color: #807F7D;
}
#bai-du-thi .cam-nhan{
	font-family: "UTM Centur";
	font-style: italic;
	font-weight: 600;
	width:40%;
	margin: 30px auto;
	font-size: 16px;
	text-align: center;
}
#bai-du-thi #video-cam-nhan{
	margin-top: 40px;
}
#bai-du-thi #video-cam-nhan .video{
	width:70%;
	margin: 0 auto;
}
#bai-du-thi .content-exam{
	margin-top: 100px;
}
#bai-du-thi .content-exam .content-1 .img img{
	max-width: 100%;
}
/*=================Style khung ảnh===========*/
#bai-du-thi .content-exam .input-content{
	width: 100%;
	height: 400px;
	border:1px solid #777777;
}
.content-exam .text{
	padding-top: 150px;
}
.content-exam .text p.big-text-khung-anh{
	color: #7F7F7D;
	font-size: 24px;
}
.vid{
	height: 600px;
}
/*==============End======================*/
#bai-du-thi .content-exam .content-1 .text{
	font-family: "UTM Centur";
	text-align: justify;
}
#bai-du-thi .content-exam .content-1 .text p.big-text{
	font-size: 24px;
}
#bai-du-thi .content-exam .content-2 {
	margin-top: 60px;
}
#bai-du-thi .content-exam .content-2 .img{
	text-align: center;
}
#bai-du-thi .content-exam .content-2 .img img{
	max-width: 100%;
}
#bai-du-thi .content-exam .content-2 .text{
	text-align: justify;
	font-family: "UTM Centur";
}
#bai-du-thi .name{
	margin-top: 100px;
	text-align: center;
}
#bai-du-thi .name .title-name label{
	font-size: 24px;
	text-transform: uppercase;
	font-family: "UTM Aptima";
}
#bai-du-thi .thong-ke{
	margin-top: 100px;
}
#bai-du-thi .thong-ke .icon{
	width: 20%;
	float: left;
}
#bai-du-thi .thong-ke .icon img{
	max-width: 100%;
}
#bai-du-thi .thong-ke .number-thong-ke{
	width: 75%;
	height: 75px;
	line-height: 75px;
	float: right;
	font-family: "UTM Bebas";
	font-size: 70px;
}
/*=================Style khung ảnh===========*/
#bai-du-thi .content-exam .input-content{
    width: 100%;
    height: 400px;
    border:1px solid #777777;
}
.content-exam .text p.big-text-khung-anh{
    color: #7F7F7D;
    font-size: 24px;
}
.vid{
    height: 600px;
}
/*==============End======================*/
#bai-du-thi .content-exam .content-1 .text{
    font-family: "UTM Centur";
    text-align: justify;
}
#bai-du-thi .content-exam .content-1 .text p.big-text{
    font-size: 24px;
}
#bai-du-thi .content-exam .content-2 {
    margin-top: 60px;
}
#bai-du-thi .content-exam .content-2 .img{
    text-align: center;
}
#bai-du-thi .content-exam .content-2 .img img{
    max-width: 100%;
}
#bai-du-thi .content-exam .content-2 .text{
    text-align: justify;
    font-family: "UTM Centur";
}
#bai-du-thi .name{
    margin-top: 100px;
    text-align: center;
}
#bai-du-thi .name .title-name label{
    font-size: 24px;
    text-transform: uppercase;
    font-family: "UTM Aptima";
}
#bai-du-thi .thong-ke{
    margin-top: 100px;
}
#bai-du-thi .thong-ke .icon{
    width: 20%;
    float: left;
}
#bai-du-thi .thong-ke .icon img{
    max-width: 100%;
}
#bai-du-thi .thong-ke .number-thong-ke{
    width: 75%;
    height: 75px;
    line-height: 75px;
    float: right;
    font-family: "UTM Bebas";
    font-size: 70px;
}
/*==================================================*/

/*==================Danh sách thí sinh style============================*/
a.btn-view-more{
	margin: 30px auto;
}
.btn-view-more span, .btn-upload{
	font-family: "UTM Bebas";
	font-size: 36px;
	padding: 5px 30px;
	color: #000;
	background-color: #E9C42A;
}
.btn-insert{
	color: #000;
	background-color: #E9C42A;
}

#content-thi-sinh{
	margin-bottom: 70px;
}
#content-thi-sinh .list-content-thi-sinh .top-vote{
	background: #C4C035;
	padding-bottom: 60px;
}

#content-thi-sinh .list-content-thi-sinh .top-vote .title-vote-top{
	text-align: center;
	padding-top: 20px;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .title-vote-top span1{
	padding-top: 20px;
	font-size: 50px;
	color: #000;
	text-transform: uppercase;
	border-bottom: 3px solid #000;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh{
	padding-top: 50px;
	width: 90%;
	margin: 0 auto;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img{
	width:50%;
	float: left;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text{
	width:50%;
	float: right;
	height: 150px;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.stt{
	color: #fff;
	font-size: 20px;
	width: 100%;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.be-men{
	color: #333;
	font-size: 35px;
	width: 100%;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.name{
	color: #333;
	font-size: 25px;
	width: 100%;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.number-vote{
	font-size: 20px;
	color: #333;
}
#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.number-vote label1.lien-ket{
	width: 50%;
	float: left;
}
label1.lien-ket .lienket-icon{
	width: 35%;
	float: left;
}
label1.lien-ket .lienket-text{
	width: 65%;
	margin-left: -10px;
	float: right;
}
label1.lien-ket .lienket-icon img{
	max-width: 50%;
}

.list-content-thi-sinh .number-post .number-post-text{
	font-size: 25px;
	color: #333;
}

.list-content-thi-sinh .number-post .bai-thi{
	padding-bottom: 20px;
	position: relative;
	padding-top: 20px;
}

.list-content-thi-sinh .number-post .bai-thi img{
	width: 95%;
	margin-left: 20px;
	height: 350px;
}
.bai-thi .information{
	width: 50%;
	position: absolute;
	z-index: 999;
	top: 121px;
	text-align: right;
	padding: 30px;
	right: 0;
	background: #fff;
	opacity: 0.8;
}
.bai-thi .information .infor-1{
	font-size: 30px;
	font-family: 'Nunito', sans-serif;
	color: #333;
}
.bai-thi .information .infor-2 span1{
	font-size: 25px;
	padding: 10px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	background: #000;
}
.bai-thi .information .infor-3{
	font-size: 13px;
	padding-top: 10px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	font-style: italic;
}
.navbar-default {
	background-color: transparent !important;
	border-color: transparent !important;
}
.box-search .txt-search {
	padding-left: 45px;
}
.header .menu-top ul li {
	padding-right: 0px;
}
.header {
	height: 52px;
}
.right {
	padding-left: 300px;
	float: right;
}
#bai-du-thi .title-exam label:before {
	content: url('../images/o-vuong.jpg');
	margin-right: 50px;
}
#bai-du-thi .title-name label:after {
	content: url('../images/o-vuong.jpg');
	margin-left: 20px;
}
.header-row{
	margin-right: 0 !important;
}
.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}


/*=====================================================================*/

/**
 * ===================== Responsive
 */
@media only screen and (min-width : 1281px) {
    .bai-thi .information {
        width: 50%;
        top:121px;
        right:-1px;
    }
    #content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
        width: 150px;
        height: 150px;
    }
	.the-le-content-mobile{
		display: none;
	}
	.the-le-content{
		display: block;
	}
	.the-le-content .menu-left ul li a {
		font-size: 27px;
	}
	#bai-du-thi .thong-ke .icon {
		width: 30%;
	}
	#bai-du-thi .thong-ke .number-thong-ke {
		width: 70%;
		height: 60px;
		line-height: 60px;
		float: right;
		font-family: "UTM Bebas";
		font-size: 70px;
	}
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
	.bai-thi .information {
		width: 50%;
		top:121px;
		right:-1px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
		width: 150px;
		height: 150px;
	}
    #bai-du-thi .thong-ke .icon {
        width: 30%;
    }
    #bai-du-thi .thong-ke .number-thong-ke {
        width: 70%;
        height: 60px;
        line-height: 60px;
        float: right;
        font-family: "UTM Bebas";
        font-size: 60px;
    }

	.the-le-content-mobile{
		display: none;
	}
	.the-le-content{
		display: block;
	}
	.the-le-content .menu-left ul li a {
		font-size: 25px;
	}

	#bai-du-thi .title-exam label {
		font-size: 60px;
	}
	#bai-du-thi {
		margin-top: 0px;
	}

	#bai-du-thi .thong-ke .icon {
		width: 30%;
	}
	#bai-du-thi .thong-ke .number-thong-ke {
		width: 70%;
		height: 60px;
		line-height: 60px;
		float: right;
		font-family: "UTM Bebas";
		font-size: 60px;
	}
}

@media (min-width: 992px) and (max-width: 1023px){
	.bai-thi .information {
		width: 100%;
		top:121px;
		right:-1px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
		width: 150px;
		height: 150px;
	}
    #bai-du-thi .thong-ke .icon {
        width: 45%;
    }
    #bai-du-thi .thong-ke .number-thong-ke {
        width: 54%;
        height: 60px;
        line-height: 60px;
        float: right;
        font-family: "UTM Bebas";
        font-size: 60px;
    }
    #bai-du-thi .title-exam label {
        font-size: 60px;
    }
    #bai-du-thi {
        margin-top: 0px;
    }

    .header .menu-top ul li {
        display:block;
    }
    .header .menu-top ul li a.alink:hover {
        border-bottom: none !important;
    }
	.the-le-content-mobile{
		display: none;
	}
	.the-le-content{
		display: block;
	}
	.the-le-content .menu-left ul li a {
		font-size: 20px;
	}
	#footer .menu-footer ul li a {
		font-size: 18px;
	}

	.logo-footer-left img{
		max-width: 100%;
	}

	.logo-footer-right img{
		max-width: 100%;
		position: absolute;
		top: -340px;
		right: -100%;
	}
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.bai-thi .information {
		width: 100%;
		top:121px;
		right:-1px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
		width: 150px;
		height: 150px;
	}
    #bai-du-thi .thong-ke .icon {
        width: 45%;
    }
    #bai-du-thi .thong-ke .number-thong-ke {
        width: 54%;
        height: 60px;
        line-height: 60px;
        float: right;
        font-family: "UTM Bebas";
        font-size: 50px;
    }
    #bai-du-thi .title-exam label {
        font-size: 60px;
    }
    #bai-du-thi {
        margin-top: 0px;
    }

    .navbar-toggle {
        background: #000;
    }
    .header .menu-top ul li {
        display:block;
    }
    .header .menu-top ul li a.alink:hover {
        border-bottom: none !important;
    }
	.the-le-content-mobile{
		display: none;
	}
	.the-le-content{
		display: block;
	}
	.the-le-content .menu-left ul li a {
		font-size: 20px;
	}
	#footer .menu-footer ul li a {
		font-size: 28px;
	}

	.logo-footer-left img{
		max-width: 100%;
	}

	.logo-footer-right img{
		max-width: 100%;
		position: absolute;
		top: -340px;
		right: -100%;
	}
	.btn-register {
		bottom: 50px;
	}
	.btn-register span {
		font-size: 18px;
	}
}

@media all and (min-width: 481px) and (max-width: 767px) {
	.bai-thi .information {
		width: 100%;
		top:140px;
	}
	.panel-title {
        font-size: 22px;
    }
    .content-detail{
        padding-left: 20px;
    }
	.number-post{
		margin-top: 20px;
	}
    .bai-thi .information {
        width: 100%;
        top:121px;
    }
    #content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
        width: 150px;
        height: 150px;
    }
    .bai-thi .information {
        width: 100%;
        top:140px;
    }
	#bai-du-thi .cam-nhan {
		width: 100%;
	}
	#bai-du-thi #video-cam-nhan .video {
		width: 100%;
		height: 300px;
	}
	#bai-du-thi .thong-ke .icon {
		width: 35%;
	}
	#bai-du-thi .thong-ke .number-thong-ke {
		width: 64%;
		height: 60px;
		line-height: 60px;
		float: right;
		font-family: "UTM Bebas";
		font-size: 50px;
	}
	#bai-du-thi .title-exam label {
		font-size: 60px;
	}
	#bai-du-thi {
		margin-top: 0px;
	}
    .header .menu-top ul li {
        display:block;
    }
    .header .menu-top ul li a.alink:hover {
        border-bottom: none !important;
    }
	.the-le-content-mobile{
		display: block;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.the-le-content{
		display: none;
	}
	ul{
		padding-left: 0 !important;
	}
	.container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.the-le-content .menu-left ul li a {
		font-size: 20px;
	}
	.tab-content .content-detail{
		text-align: justify;
		font-family: 'UTMCENTURREGULAR';
	}
	#form-sign .list-input .txt-input {
		padding-left: 10px;
		height: 50px;
		font-size: 18px;
	}
	#form-sign .list-input .select-infor {
		width: 32.9%;
		font-size: 18px;
		height:50px;
		padding-left: 10px;
	}
	#footer .menu-footer ul li a {
		font-size: 24px;
	}

    .logo-footer-left{
        text-align: center;
    }
    .logo-footer-left img{
        max-width: 100%;
    }
    .logo-footer-right{
        text-align: center;
    }
    .logo-footer-right img{
        max-width: 100%;
    }
	.btn-register {
		bottom: 50px;
	}
	.btn-register span {
		font-size: 15px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .panel-title {
        font-size: 22px;
    }
    .content-detail{
        padding-left: 10px;
    }
	.number-post{
		margin-top: 20px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .title-vote-top span1 {
		font-size: 40px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.be-men {
		font-size: 24px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.name {
		font-size: 20px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.number-vote {
		font-size: 14px;
	}
	.bai-thi .information {
		width: 100%;
		top:121px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
		width: 150px;
		height: 150px;
	}

    #bai-du-thi .cam-nhan {
        width: 100%;
    }
    #bai-du-thi #video-cam-nhan .video {
        width: 100%;
        height: 300px;
    }
    #bai-du-thi .thong-ke .icon {
        width: 40%;
    }
    #bai-du-thi .thong-ke .number-thong-ke {
        width: 50%;
        height: 60px;
        line-height: 60px;
        float: right;
        font-family: "UTM Bebas";
        font-size: 35px;
    }
    #bai-du-thi .title-exam label {
        font-size: 40px;
    }
    #bai-du-thi {
        margin-top: 0px;
    }
    .header .menu-top ul li {
        display:block;
    }
    .header .menu-top ul li a.alink:hover {
        border-bottom: none !important;
    }
	.the-le-content-mobile{
		display: block;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.the-le-content{
		display: none;
	}
	ul{
		padding-left: 0 !important;
	}
	.container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.tab-content .content-detail{
		font-family: 'UTMCENTURREGULAR';
		text-align: justify;
	}
	#form-sign .list-input .txt-input {
		padding-left: 10px;
		height: 50px;
		font-size: 18px;
	}
	#form-sign .list-input .select-infor {
		width: 32.8%;
		font-size: 18px;
		height:50px;
		padding-left: 10px;
	}

	#footer .menu-footer ul li a {
		font-size: 16px;
	}

    .logo-footer-left{
        text-align: center;
    }
    .logo-footer-left img{
        max-width: 100%;
    }
    .logo-footer-right{
        text-align: center;
    }
    .logo-footer-right img{
        max-width: 100%;
    }
	.header .logo img {
		width: 80%;
	}
	.navbar {
		margin-right: -25px !important;
	}
	.btn-register {
		bottom: 50px;
	}
	.btn-register span {
		font-size: 15px;
	}
	.box-search .txt-search {
		width: 130px;
		border-radius: 15px;
		border: none;
		padding-left: 38px;
		box-shadow: 2px 2px 2px 2px #ccc;
	}
}

@media only screen and (max-width : 320px) {
	.box-search .txt-search {
		width: 130px;
		padding-left: 38px;
	}
	.btn-register {
		bottom: 50px;
	}
	.btn-register span {
		font-size: 15px;
	}
	.header .logo img {
		width: 80%;
	}
	.navbar {
		margin-right: -25px !important;
	}
    .panel-title {
        font-size: 22px;
    }
    .content-detail{
        padding-left: 10px;
    }
	.number-post{
		margin-top: 20px;
	}
    .bai-thi .information {
        width: 100%;
        top:121px;
    }
	#bai-du-thi .cam-nhan {
		width: 100%;
	}
	#bai-du-thi #video-cam-nhan .video {
		width: 100%;
		height: 300px;
	}
	#bai-du-thi .thong-ke .icon {
		width: 40%;
	}
	#bai-du-thi .thong-ke .number-thong-ke {
		width: 50%;
		height: 60px;
		line-height: 60px;
		float: right;
		font-family: "UTM Bebas";
		font-size: 40px;
	}

	.bai-thi .information {
		width: 100%;
		top:121px;
	}

	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
		width: 150px;
		height: 150px;
	}

	/* Styles */
    .bai-thi .information {
        width: 100%;
        top:121px;
    }
	#content-thi-sinh .list-content-thi-sinh .top-vote .title-vote-top span1 {
		font-size: 40px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.be-men {
		font-size: 24px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.name {
		font-size: 20px;
	}
	#content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .text label.number-vote {
		font-size: 14px;
	}
    #content-thi-sinh .list-content-thi-sinh .top-vote .top-thi-sinh .img img{
        width: 130px;
        height: 130px;
    }
    .header .menu-top ul li {
        display:block;
    }
    .header .menu-top ul li a.alink:hover {
        border-bottom: none !important;
    }
	.the-le-content-mobile{
		display: block;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.the-le-content{
		display: none;
	}
	.tab-content .content-detail{
		text-align: justify;
		font-family: 'UTM Bebas';
	}
	#form-sign .list-input .txt-input {
		padding-left: 5px;
		height: 50px;
		font-size: 15px;
	}
	#form-sign .list-input .select-infor {
		width: 32.7%;
		font-size: 15px;
		height: 50px;
		padding-left: 5px;
	}
	#footer .menu-footer ul li a {
		font-size: 16px;
	}
    .logo-footer-left{
        text-align: center;
    }
	.logo-footer-left img{
		max-width: 100%;
	}
    .logo-footer-right{
        text-align: center;
    }
	.logo-footer-right img{
		max-width: 100%;
	}
	#bai-du-thi .cam-nhan {
		width: 100%;
	}
	#bai-du-thi #video-cam-nhan .video {
		width: 100%;
		height: 300px;
	}
	#bai-du-thi .thong-ke .icon {
		width: 40%;
	}
	#bai-du-thi .thong-ke .number-thong-ke {
		width: 50%;
		height: 35px;
		line-height: 35px;
		float: right;
		font-family: "UTM Bebas";
		font-size: 35px;
	}
	#bai-du-thi .title-exam label {
		font-size: 40px;
	}
	#bai-du-thi {
		margin-top: 0px;
	}

	#footer .menu-footer ul li a {
		font-size: 13px;
	}
	.navbar {
		margin-right:0 !important;
		text-align: center;
	}
	.header-row{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
	.navbar {
		text-align: center;
		margin-right:0 !important;
	}
	.header-row{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

}

@media only screen and (max-width : 767px) {

	.content-exam .text{
		padding-top: 50px;
	}

	.fluid-menu{
		background: #FEFAED;
	}


	.right {
		padding-left: 0px;
	}
	.navbar {
		text-align: center;
		margin-right:0 !important;
	}
	.navbar-default {
		background-color: #fff !important;
		border-color: #fff !important;
	}
	.slick-prev {
		margin-top: 0px !important;
	}
}

@media only screen and (min-width : 768px) and (max-width: 1336px) {
	.right {
		padding-left: 0px;
	}
	.navbar {
		text-align: center;
		margin-right:0 !important;
	}
}
