body {
  background-color: #fcfcfc;
}

.avatar-view1, .avatar-view2, .avatar-view3 {
  display: block;
  margin: 15% auto 5%;
  height: 220px;
  width: 220px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.avatar-view1 img, .avatar-view2 img, .avatar-view3 img {
  width: 100%;
}

.avatar-body {
  /*
  padding-right: 15px;
  padding-left: 15px;
  */
}

.avatar-upload, avatar-upload2, avatar-upload3 {
  overflow: hidden;
}

.avatar-upload label, avatar-upload2 label, avatar-upload3 label{
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input, .avatar-upload2 input, .avatar-upload3 input {
  display: block;
  margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper, .avatar-wrapper2, .avatar-wrapper3 {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img, .avatar-wrapper2 img, .avatar-wrapper3 img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview, .avatar-preview2, .avatar-preview3 {
  float: none;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  margin: 15px auto;

}

.avatar-preview:hover, .avatar-preview2:hover, .avatar-preview3:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img, .avatar-preview2 img, .avatar-preview3 img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}


.avatar-btns, .avatar-btns2, .avatar-btns3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group, .avatar-btns2 .btn-group, .avatar-btns3 .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../images/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}
